button#addNFT {
  background: transparent;
  border: none;
  bottom: 0;
}

button#addNFT:hover {
  background-image: linear-gradient(45deg, #2e2e2e, #414141);
  z-index: 2;
  box-shadow: 0 0 0 0.2rem rgba(155, 77, 202, 0.25);
}

button#submitNFT {
  font-family: "Maginer";
  color: white;
  width: 26%;
  height: 6vh;
  font-size: 18px;
  background-size: 200% auto;
  transition: 0.3s;
}

button#submitNFT:hover {
  background-position: right center;
  color: whitesmoke;
}
button#submitNFT {
  background-image: linear-gradient(45deg, #b400ff, #c614c6, #ed1679, #ff0066);
  border: none;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  color: white;
  background-color: #2e2e2e;
}

.nft-input {
  font-family: "Maginer";
  background-color: #555555;
  border: none;
}

.nft-input:focus {
  background-color: #555555;
  box-shadow: 0 0 0 0.2rem rgba(155, 77, 202, 0.25);
}

.add-nft-label{
  font-family: "Maginer";
}