.change{
    position:absolute;
    top:30%;
    margin-top:-50px;
    margin-left:-150px;
    left:45%;
    font-family: "Maginer";
    background-color: rgb(41, 41, 41);
    color: white;
    padding: 20px;
    padding-top: 12px;
    border: 1px solid;
    border-image: linear-gradient(135deg, #b400ff, #c614c6, #ed1679, #ff0066) 1;
    color: rgb(199, 197, 197);
}
.change button{
    font-family: "Maginer";
    color: white;
    margin-right: 1rem;
    width: 50%;
    height: 6vh;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-size: 200% auto;
    transition: 0.3s;
    background-image: linear-gradient(45deg, #b400ff, #c614c6, #ed1679, #ff0066);
    border: none;
    border-radius: 8px;
}

.change button:hover{
    background-position: right center;
    transform: scale(1.015);
  filter: brightness(1.3);
}