body {
  background-color: #3e3e3e;
}

.signup {
  font-family: "Maginer";
  background-color: rgb(41, 41, 41);
  color: white;
  padding: 20px;
  padding-top: 12px;
  border: 1px solid;
  border-image: linear-gradient(135deg, #b400ff, #c614c6, #ed1679, #ff0066) 1;
  color: rgb(199, 197, 197);
}

.signup button {
  font-family: "Maginer";
  color: white;
  float: right;
  margin-right: 1rem;
  width: 40%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-size: 200% auto;
  transition: 0.3s;
  background-image: linear-gradient(45deg, #b400ff, #c614c6, #ed1679, #ff0066);
  border: none;
}
.signup button:hover {
  background-position: right center;
  color: whitesmoke;
}

.signup label {
  font-family: "Maginer";
  padding: 0;
  margin-left: -7px;
}

#signup-form-container {
  text-align: left;
}

.signup input[type] {
  color: white;
  border-radius: 6px;
  background-color: #555555;
  border: none;
}

.signup input:focus {
  background-color: #555555;
  box-shadow: 0 0 0 0.26rem rgba(155, 77, 202, 0.25);
}

#redirect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

a:hover {
  cursor: pointer;
  background-image: linear-gradient(45deg, #cb50ff, #f89af8, #f375b0, #ff81b3);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
p {
  font-size: small;
  opacity: 0.8;
}
