body{
  background-color: #3e3e3e;
}

.navbar-brand{
  color: white;
  font-family: "Pixel";
  font-size: 32px;
  cursor: pointer;
}

.navbar-brand:hover{
  color: #ff0066;
}

.nav-link{
  color: white;
  font-family: "Maginer";
  font-size: 17px;
}

.nav-link:hover{
  color: #b400ff
}

#action-dropdown{
  cursor: pointer;
}

#action-dropdown li{
  color: black;
}

#searchbar{
  font-family: "Maginer";
  background-color: #3e3e3e;
  color: #c614c6;
}

#searchbar:focus {
  border-color: #9b4dca;
  box-shadow: 0 0 0 0.2rem rgba(155, 77, 202, 0.25);
}