body {
    overflow-x: hidden;
}
.nft-box {
    position: absolute;
    width: 60%;
    left: 20%;
    height: 400px;
    background-color: #5a5a5a;
    border-radius: 40px;
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.2);
    display: flex;
}

.allinfo{
    display: flex;
    flex-wrap: nowrap;
}
.image {
    max-width: 50%;
    padding: 20px;
    border-radius: 40px;
    border: #5a5a5a;
}
.info1{
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 10px;
}

.image:hover{
    border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}

#info h1, p{
    text-align: left;
    margin-left: 1.3rem;
    margin-top: 1.3rem;
}
.duration{
    padding-right: 20px;
}
.price{
    padding-left: 20px;
}

.info1 button{
    width: 50%;
    height: 40px;
    margin: 30px;
    color: white;
    font-size: 18px;
    background-size: 200% auto;
    transition: 0.3s;
    background-image: linear-gradient(45deg, #b400ff, #c614c6, #ed1679, #ff0066);
    border-radius: 10px;
    border: none;
}
.info1 button:hover{
    background-position: right center;
    color: whitesmoke;
    transform: scale(1.015);
}

div.column {
    height: 55vh;
    padding: 0;
    margin: 1.3rem;
    border-radius: 15px;
}

div.column-desc {
    height: 55vh;
    padding: 0;
    margin: 1.3rem;
    border-radius: 15px;
    border: double 1px transparent;
    background-image: linear-gradient(135deg, #3f3f3f, #5a5a5a), radial-gradient(circle at top left,#b400ff, #c614c6, #ed1679, #ff0066);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

div.column-desc:hover {
    background-image: linear-gradient(45deg, #5a5a5a, #3f3f3f), radial-gradient(circle at top left,#b400ff, #c614c6, #ed1679, #ff0066);
}

div.column img, div.column-desc img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.one-creator {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem;
    margin-left: 0.7rem;
    bottom: 2.4rem;
}

.one-creator ins {
    color: #a89ec9;
    text-decoration: none;
}

.one-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff22;
    padding: 0.3rem;
    width: 4vw;
    margin: 0;
    border-radius: 100%;
    box-shadow: inset 0 0 0 0.4rem #3e2444aa;
}

.one-creator img {
    border-radius: 100%;
    border: 1px solid #ffffff22;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    margin: 0;
}

.one-buy-btn  {
    font-family: "Maginer";
    color: white;
    width: 60%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-size: 180% auto;
    background-image: linear-gradient(45deg, #b400ff, #c614c6, #ed1679, #ff0066);
    border-radius: 5px;
    border: #a89ec9;
    margin-bottom: 8px;
    transition: 0.6s;
  }

#creator-desc {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 2px;
    margin-top: 12px;
}

div.modal-body {
    padding: 0;
}

.fullscreen-img {
    width: 100%;
    height: 100%;
    margin: 0;
}

#others {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

#others #title {
    width: 100%;
    height: 14vh;
}

#others #title h1 {
    width: 100%;
    margin: 1rem;
    text-align: left;
}