table {
  margin-top: 20px;
  width: 100%;
  color: #29516d;
  font-size: 14px;
  border-spacing: 0;
}

.user-info button{
  padding: 10px;
  margin: 0 5px;
  border: 0;
  
  &:first-child {
    margin-left: 0;
  }
}

.column-container{
  font-family: "Pixel";
  color: #b400ff;
}

.user-info{
  font-family: "Admin";
  color: white;
  padding: 10px;
}

#user-searchbar{
  font-family: "Maginer";
  background-color: #3e3e3e;
  color: #c614c6;
  max-width: 500px;
}

#user-searchbar:focus {
  border-color: #9b4dca;
  box-shadow: 0 0 0 0.2rem rgba(155, 77, 202, 0.25);
}

#user-search-container{
  display: flex;
  justify-content: center;
  align-items: center;
}