
.all{
    /* left:100px; */
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    user-select:none;
    font-family:"Maginer";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #eee;
    user-select:none;
    margin: 1rem auto;  
}

h1{
    font-family:"Maginer";
    color: #eee;
    text-align: center;
}