@font-face {
  font-family: "Maginer";
  src: url("./fonts/Maginer.otf");
}

@font-face {
  font-family: "Pixel";
  src: url("./fonts/PublicPixel.ttf");
}

@font-face {
  font-family: "Admin";
  src: url("./fonts/Nunito-Medium.ttf");
}

#root {
  max-width: 1640px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.nav-link {
  color: white;
  font-family: "Maginer";
  font-size: 17px;
}

.nav-link:hover {
  color: #b400ff;
}

#action-dropdown {
  cursor: pointer;
}

#action-dropdown li {
  color: black;
}

.dropzone {
  margin: 0 auto;
  width: 80%;
  height: 24vh;
  border: 1px solid rgba(155, 77, 202, 0.75);
  border-radius: 12px;
  background-image: url("https://res.cloudinary.com/dszx3pd6j/image/upload/v1684024640/img-upload_lnror5.png");
  background-color: #3e3e3e;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  transition: 0.6s;
}

.dropzone:hover {
  opacity: 1;
  box-shadow: 0 0 0 0.26rem rgba(155, 77, 202, 0.25);
}
