body{
    background-color: #3e3e3e;
}

.card-title{
    font-family: "Pixel";
}

.card-text{
    font-family: "Maginer";
}

.getStarted{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}